<footer>
    <div class="content__footer">
        <div class="footer__info">
            <h2 class="footer__info-title">JUJUTV - Rick y Morty</h2>
            <p class="footer__info-text">
                Rick y Morty (en inglés: Rick and Morty) es una serie de televisión estadounidense de animación para adultos creada por Justin Roiland y Dan Harmon en 2013 para Adult Swim.
            </p>
        </div>
        <div class="footer__links">
            <span>© 2022 - Jaider Alejandro Bernal</span>
        </div>
    </div>
   
</footer>